<div class="port">
    <select class="ports" ng-model="ngModel.port" ng-disabled="ngModel.connected" ng-options="port.path as port.name for port in ports"><option value="">Выберите порт</option></select>
    <select id="boudrate" name="tty-boudrate" ng-model="ngModel.boudrate" ng-disabled="ngModel.connected">
        <option value="">Скорость.</option>
        <option value="1200">1200</option>
        <option value="2400">2400</option>
        <option value="4800">4800</option>
        <option value="9600">9600</option>
        <option value="19200">19200</option>
        <option value="38400">38400</option>
        <option value="57600">57600</option>
        <option value="115200">115200</option>
        <option value="230400">230400</option>
        <option value="460800">460800</option>
        <option value="125000">125000</option>
        <option value="166667">166667</option>
        <option value="250000">250000</option>
        <option value="500000">500000</option>
    </select>
    <input id="color" type="color" value="#fffff" ng-model="ngModel.color">
    <button class="btn btn-default" ng-if="!ngModel.connected && ngModel.port && ngModel.boudrate" ng-click="onConnect()">
        <span class="glyphicon glyphicon-play"></span> Подключить
    </button>
    <button class="btn btn-default" ng-if="ngModel.connected" ng-click="onDisconnect()">
        <span class="glyphicon glyphicon-stop"></span> Отключить
    </button>
    <!--button class="btn btn-default" data-ng-click="onWegant()"><span class="glyphicon glyphicon-plus-sign"></span> Wegant</button-->
    <!-- Выбран порт: {{ngModel.port}}:{{ngModel.boudrate}} -->
</div>
